<h1> PRUEBA TECNICA </h1>
<div class="row justify-content-md-center text-center row-cols-auto">
    <div class="col">
        <button type="button" class="btn btn-dark" (click)="this.switchTableClass()">Colorear filas</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-dark" (click)="this.sortByCountry()">Ordenar por país</button>
    </div>
</div>

<div class="col-10 mx-auto p-3">
    <table [ngClass]="this.tableClass">
        <!-- <table class="{{this.tableClass}}"> ESTO TAMBIEN FUNCIONA-->
        <thead class="table-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Pais</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of this.users">
                <td> {{users.indexOf(user) + 1}} </td>
                <td>
                    <img [src]="user.picture.thumbnail" alt="Foto">
                </td>
                <td>{{user.name.first}}</td>
                <td>{{user.name.last}}</td>
                <td>{{user.location.country}}</td>
                <td>
                    <button type="button" class="btn btn-dark">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>